.clusterize-scroll {
  max-height: 400px;
  overflow: auto;
  width: 100%;
  border: solid 1px #DDDDDD;
}

.th {
  /*max-height: 500px;*/
  padding: 15px;
  margin-top: 20px;
  line-height: 0;
  display: inline-block;
  border: solid 4px #FFFFFF;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
  transition: all 200ms ease-out;
}

.th:hover,
.th:focus {
  box-shadow: 0 0 6px 1px rgb(0 140 186 / 50%);
}

.clusterize table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  border: none;
  min-width: 100%;
  table-layout: fixed
}

.clusterize table td {
  white-space: nowrap;
}

.clusterize-headers {
  overflow: hidden;
}

.clusterize-headers table.fixed-header tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.clusterize-headers table.fixed-header tr:first-child td {
  padding: 1em !important;
}

.search-table {
  margin-bottom: 20px;
}

table.clusterize-table {
  margin: auto;
  /*min-width: 300px;*/
  /*max-width: 100%;*/
  border-collapse: collapse;
}

table.clusterize-table tr:first-child {
  border-top: none;
  /*background: #428bca;
  color: #fff;
  position: sticky;
  top: 0;*/
}

/*table.clusterize-table tr:not(.clusterize-extra-row):first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
  position: sticky;
  top: 0;
}*/

table.clusterize-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

/*table.clusterize-table tr:nth-child(odd):not(:first-child)*/
table.clusterize-table tr:nth-child(odd) {
  background-color: #ebf3f9;
}

table.clusterize-table td:first-child {
  margin-top: .5em;
}

table.clusterize-table td:last-child {
  margin-bottom: .5em;
}

table.clusterize-table th,
table.clusterize-table td {
  text-align: left;
}

table.clusterize-table {
  color: #333;
  border-radius: .4em;
  /*overflow: hidden;*/
}

table.clusterize-table tr {
  border-color: #bfbfbf;
}

table.clusterize-table th,
table.clusterize-table td {
  padding: 1em !important;
}

.highlight {
  background-color: #ff9632;
}